h2{
    font-size: 23px;
}
.card{
    border-block-color:red ;
    height: 420px;
    background-color: rgb(61, 189, 61);
    

    width: 40%; 
    border-radius: 10px; 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover { transform: translateY(-10px); 
     box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
     background-color: rgb(32, 196, 155);
     color: black;
    }
.container{
    background-color: rgb(128, 115, 115);
}
p{
    color: white;
}
h5{
    font-size: 25px;
}